/* Reset CSS untuk menghilangkan margin dan padding default */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Styles untuk body */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* Styles untuk header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px; /* Ubah ukuran logo sesuai kebutuhan */
    height: auto;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff9900; /* Warna saat hover */
}

/* Styles untuk main content */
main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

article {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

article h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

article p {
    color: #666;
    line-height: 1.5;
}

aside {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

aside h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

aside img {
    width: 100%; /* Lebar gambar mengisi container aside */
    height: auto;
    border-radius: 5px;
}

/* Styles untuk footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-info a {
    color: #ff9900;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-info a:hover {
    color: #fff;
}

.copyright p {
    font-size: 14px;
}
